<section>
    <div class="page-header">
        <h1>About us</h1>
    </div>
    <div class="panel">
        <div class="panel-body">
            <p>A boutique is "a small store that sells stylish clothing, jewelry, or other usually expensive things".[1] The word is French for "shop", which derives ultimately from the Greek ἀποθήκη (apothēkē) or "storehouse".[2][3]</p>
            <p>
                The term "boutique" entered into everyday English in the late 1960s when, for a brief period, London was a fashion capital. Carnaby Street and Kings Road (London) were the focus of much of media attention for having the most fashionable stores of the era.[4]
            </p>
        </div>
    </div>
</section>